body{
    background-color: rgb(88, 57, 39); 
}

header{
    background-color: rgb(195,176,145);
}

footer{
    background-color: rgb(195,176,145);
}

/* LoVe HAte */

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: burlywood;
    font-weight: bold;
}

a:active{
    color: burlywood;
}

footer{
    color: white;
    padding: 1%;
}

h1{
    color: white;
}

h4{
    color: white;
    font-size: large;
    text-align: center;
    font-family: lemon;
}