body{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    outline: 1px dotted white;
}

header ul{
    list-style: none;
    display: flex;
    margin: o;
    padding: 0;
    justify-content: space-around;
}

img{
    max-width: 100%;
}

.grid_5-3{
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 1em;
}

.grid_2-3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    border: 1i;
}

.grid_3-2{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.order{
    order: -1;
}

#op_col{
    grid-column: 2/3;
    grid-row: 1/3;
}


#h2_col{
    max-width: 65ch;
}

.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.apple{
   grid-column: 1/span 2;
   grid-row: 1/span 2;
}

.code{
    grid-column: 3/span 2;
    grid-row: 2;
}

.desktop{
    grid-column: 3;
    grid-row: 1;
}

.chip{
    grid-column: 4;
    grid-row: 1;
}

.keyboard{
    grid-column: span 3;
    grid-row: 4;
}

.macbook{
    grid-column: 1;
    grid-row: 4;
}


.grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.flex_col img:last-child{
    margin-top: auto;
}


.grid_2-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

section.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

dl.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.liste{
    display: grid;
    grid-template-columns: 1fr 1fr;
}